<div class="myBody">
  <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
    <h2>{{title}}</h2>
    <fieldset>
      <div class="form-group">
        <label for="number">
          Account number
        </label>
        <input type="text" name="number" class="form-control" ngModel>
      </div>
      <div class="form-group">
        <label for="amount">
          Amount
        </label>
        <input type="text" name="amount" class="form-control" ngModel>
      </div>
    </fieldset>
      <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>
